*{
    margin: 3%;
    vertical-align: middle;
}

.centrecontent{
        min-height: 50vh; 
        display: flex;
        justify-content: center;
        align-items: center;
}

button{
    margin-right: 25px;
    background: white;
    border: none;
}

button:hover{
    border-bottom: 1px solid #010103;
   
}

.border_down{
    border-bottom: 1px solid #dadce0;
    margin: 0%;
}

   .container{
         width: 60%;
         border: 1px solid #dadce0;
         border-radius: 25px;
    }
    