*{
    margin: 2%;
    vertical-align: middle;
    font-size: 14px;
}



.centrecontent{
        min-height: 50vh; 
        display: flex;
        justify-content: center;
        align-items: center;
}

button{
    margin-right: 25px;
    background: white;
    border: none;
}
a{
    display: contents;
}

button:hover{
    border-bottom: 1px solid #010103;
   
}

.border_down{
    border-bottom: 1px solid #dadce0;
    margin: 0%;
}

   .container{
         width: 80%;
         border: 1px solid #dadce0;
         border-radius: 25px;
    }

.commandCopy{
    background-color: #F1F3F4;
    padding: 20px 0px 20px 63px;
    margin: -10px 0px -10px -23px;
    width: 26cm;
}

    